  <header class="">
    <a href="#" class="logo" id=""><img src="assets/images/logo-nome-2-branco.png" /></a>
    <a routerLink="search" class="search" id=""><i class="bi bi-search"></i>  </a>
  </header>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <div class="tabbar">
    <div class="row">
      <div class="col"><a routerLink="home" routerLinkActive="active" class="tabbar-item"><i class="bi bi-house"></i><p>Home</p></a></div>
      <div class="col"><a routerLink="favorites" routerLinkActive="active" class="tabbar-item "><i class="bi bi-heart"></i><p>Favoritos</p></a></div>
      <div class="col"><a routerLink="ipublis" routerLinkActive="active" class="tabbar-item "><i class="bi bi-check-circle"></i><p>iPublis</p></a></div>
      <div class="col"><a routerLink="proposals" routerLinkActive="active" class="tabbar-item "><i class="bi bi-send"></i><p>Propostas</p></a></div>
      <div class="col"><a routerLink="profile" routerLinkActive="active" class="tabbar-item "><i class="bi bi-person-circle"></i><p>Perfil</p></a></div>
    </div>
  </div>



