<section class="slogan box">
    <div class="row">
       <div class="col"><img src="assets/images/like.png" /></div>
    </div>
    <div class="row">
       <div class="col">
          <p>A conexão direta entre a sua <strong>marca</strong> e o <strong>influenciador</strong></p>
       </div>
    </div>
 </section>
 <section class="influencers box">
    <div class="row">
       <div class="col-8 text">
          <p>Você é um <strong>influencer</strong>?<br />Cadastre-se aqui</p>
       </div>
       <div class="col-4 image">
          <img src="assets/images/rating (1).png" />
       </div>
    </div>
 </section><section class="influencers box">
    <div class="row">
       <div class="col-8 text">
          <p>Você é um <strong>influencer</strong>?<br />Cadastre-se aqui</p>
       </div>
       <div class="col-4 image">
          <img src="assets/images/rating (1).png" />
       </div>
    </div>
 </section><section class="influencers box">
    <div class="row">
       <div class="col-8 text">
          <p>Você é um <strong>influencer</strong>?<br />Cadastre-se aqui</p>
       </div>
       <div class="col-4 image">
          <img src="assets/images/rating (1).png" />
       </div>
    </div>
 </section><section class="influencers box">
    <div class="row">
       <div class="col-8 text">
          <p>Você é um <strong>influencer</strong>?<br />Cadastre-se aqui</p>
       </div>
       <div class="col-4 image">
          <img src="assets/images/rating (1).png" />
       </div>
    </div>
 </section>