<section class="slogan box">
    <div class="row">
       <div class="col"><img src="assets/images/like.png" /></div>
    </div>
    <div class="row">
       <div class="col">
          <p>A conexão direta entre a sua <strong>marca</strong> e o <strong>influenciador</strong></p>
       </div>
    </div>
 </section>
 <section class="influencers box">
    <div class="row">
       <div class="col-8 text">
          <p>Você é um <strong>influencer</strong>?<br />Cadastre-se aqui</p>
       </div>
       <div class="col-4 image">
          <img src="assets/images/rating (1).png" />
       </div>
    </div>
 </section>
 <section class="publishers box">
    <div class="row">
       <div class="col"><img src="assets/images/rating.png" /></div>
    </div>
    <div class="row">
       <div class="col">
          <p>Você é um <strong>Anunciante/Marca?</strong> Cadastre-se aqui!</p>
       </div>
    </div>
 </section>
 <section class="top-influencers box">
    <div class="row">
       <p class="title"><strong>Influencers</strong> sugeridos</p>
    </div>
    <div class="row">
       <div class="col"><a href="#"><img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1648587580185x551286271547827700%2FCF99BF69-6CE8-4A86-A855-D4C460F9BD11.jpeg?w=256&h=377&auto=compress&dpr=1&fit=max" /></a></div>
       <div class="col"><a href="#"><img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1638559714364x322903311641995700%2FFF391763-258E-4CEC-BC81-57A227693FCB.jpeg?w=256&h=377&auto=compress&dpr=1&fit=max" /></a></div>
       <div class="col"><a href="#"><img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1649800127219x209495873924541820%2FIMG_1760.jpg?w=256&h=377&auto=compress&dpr=1&fit=max" /></a></div>
    </div>
 </section>