  .box{
    border-radius: 10px;
    margin: 20px 10px;
    padding: 20px 20px;
  }
   .slogan{
    background-color: #ff7600;
    color: #ffffff;
    text-align: center;
    height: auto;
  }
  .container >.slogan > .row > .col > p {
    font-size: 1.4em;
    line-height: 1.2em;
    color: #ffffff;
    margin: 10px 0px;
  }
   .influencers{
    background-color: #cccccc;
    color: #333333;
    text-align: left;
    height: auto;
  }
   .influencers > .row > .text > p{
    line-height: 1.2em;
    font-size: 1.2em;
  }
   .influencers > .row > .image > img{
    height: 70px;
    vertical-align: top;
  }

   .publishers{
    background-color: #FFA900 ;
    color: #333333;
    text-align: left;
    height: auto;
    text-align: center;
  }
   .publishers > .row > .col > p {
    font-size: 1.2em;
    line-height: 1.1em;
    color: #ffffff;
    margin: 10px 0px;
  }
   .publishers > .row > .col > img {
    height: 50px;
  }

   .top-influencers{

  }

   .top-influencers > .row >p.title{
    font-size: 1.4em;
    color: #666666;
    line-height: 0em;
  }
  
   .top-influencers > .row{
    
  }
   .top-influencers > .row > .col{
    padding:0 4px 0 0;
  }
   .top-influencers > .row > .col > a{
  }
   .top-influencers > .row > .col > a > img{
    border-radius: 7%;
    width: 100%;
    height: 150px;
   }